body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loginContainer {
    background-color: #fffbcc;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginForm h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

#loginForm input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#loginForm button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #a1d3ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#loginForm button:hover {
    background-color: #87c1ff;
}